/*
Estilos do segundo HTML - index.html
*/

body {
    background-color: #BF8E63;
    background-image: url("file:///C:/Users/jonat/Desktop/HTML/Fundamentos-web/Segundo_HTML_16.06.21/assets/img/Papel%20pardo.jpg");
    background-size:auto;
    font-family: Arial, sans-serif ;
}

#faixa1{
    background-color: #112240;
    padding: 20px;
}
.center
{
    text-align: center;
}

.justify
{
    text-align: justify;
}

.container
{
    display: flex;
    flex-flow: row ;
    justify-content:center;
    align-items: center;
}

.menu
{
    display: inline;
    

}

#menu li a
{
    text-decoration: none;
    color: darkmagenta;
    font-size: 20px;
}

#menu li a:hover
{
    color:darkolivegreen;
}

.p30
{
    padding: 30px;
}

.borda50
{
    border-radius: 50%;
}

.tamanho
{
    width: 50px;
    height: 50px;
    padding: 50px;
}

.margem50
{
    margin-bottom: 50px;
}

.margemLateral50
{
    margin-left: 50px;
}
