/*
Estilos do segundo HTML - index.html
*/

body {
    background-color: #BF8E63;
    background-image: url("file:///C:/Users/jonat/Desktop/HTML/Fundamentos-web/Segundo_HTML_16.06.21/assets/img/Papel%20pardo.jpg");
    font-family: Arial;
    margin: 0 0 0 0;

    
}
.menu {
    display: flex;
    background-color: #112240;
    margin: 0 0 0 0;
    padding: 0px;
}

.menu li{
    display: inline;
    padding: 10px;
    margin: 5px;  
}

.menu li a
{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.menu li a:hover
{
  padding: 10px;
  background-color: #ddd;
  color: black;
  
}
.center
{
    text-align: center;
}

.justify
{
    text-align: justify;
}

.container
{
    display: flex;
    flex-flow: row ;
    justify-content:center;
    align-items: center;
}

.p30
{
    padding: 30px;
}

.borda50
{
    border-radius: 50%;
}

.tamanho
{
    width: 50px;
    height: 50px;
    padding: 50px;
}

.margem50
{
    margin-bottom: 50px;
}

.margemLateral50
{
    margin-left: 50px;
}
.negrito {
    font-weight: bold;
  }

@media screen and (max-width: 600px) {
    .row, .menu {   
      flex-direction: column;
      text-align: center;
    
    }
  }